@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Rounded';
  src: url('./assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --box-size: 1024px;
  --box-gap: 16px;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: 'Helvetica Rounded', sans-serif;
  background-color: white;
  margin: 0;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

@layer components {
  .input-textarea {
    @apply w-full px-3 py-2 border border-gray-300 text-gray-900 rounded text-sm focus:outline-none focus:border-gray-400 resize-none placeholder-gray-400;
  }

  .input-clear-btn {
    @apply absolute top-2 right-2 p-0.5 bg-gray-400 text-white rounded-full hover:bg-gray-500;
  }
}